<div id='container'>
  <!-- Your html here -->
  <h1>Links</h1>
  <p>List of shortened URLS</p>
  <input type='text' ng-model='link' name='searchBox' placeholder="Filter websites..."></input>
  <ul>
    <li ng-repeat="link in data.links | filter:link| orderBy:'-visits'">
      <img src='../../assets/redirect_icon.png'/>
      <div class='info'>
        <div class='visits'><span class='count'>{{link.visits}}</span> Visits</div>
        <div class='title'>{{link.title}}</div>
        <div class='original'>{{link.url}}</div>
        <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
      </div>
    </li>
  </ul>
  <a href="#/shorten">Create a shortened link!</a>
</div>
